body{
  background-color: #ede9e0;
}
h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 48px;
}
h2{
  font-family: 'Fira Sans', sans-serif;
  font-size: 36px;
  line-height: 40px;
}
h3{
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
}
a{
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
}

.total-wrap{
  width: 1024px;
  margin: 0 auto;
  background-image: url(dog.png);
  background-repeat: no-repeat;
  background-position: 15px 0;
  position: relative;z-index: 0;
}
/*HEADER*/
.header{
}
.header-wrap{
  display: flex;
  width: 940px;
  margin: 0 auto;
  align-items: center;
}
.logo__wrap{
}
.main-menu__wrap{
  display: flex;
  align-items: center;
  font-size: 0;
}
.main-menu__list {
  display: flex;
  padding-left: 0;
}
.main-menu__item{
  padding: 10px 15px;

}
.main-menu__link{
  list-style: none;
  color: #737274;
}
.phone-header{
  color: #510fad;
  }
.phone-header__link{
  color: #510fad;
  text-decoration: none;
}

/*PROMO*/
.promo{
  width: 940px;
  height: 560px;
  margin: 0 auto;
}
.promo__content{
 width: 550px;
 padding: 110px 90px 110px 300px;
}
.promo__title .promo_tagline{
  text-align: left;
}
.promo__title{
  color: #202020
}
.promo__tagline{
  color: #737274;
  border-left: 2px solid #510fad;
  padding: 0 10px;
}

/*ABOUT*/
.about{
  position: relative;
  background-color: #510fad;
  color: #fff;
  padding-top: 50px;
  padding-bottom:50px;
  margin: 80px 0;
}
.about:before, .about:after{
content:'';
position: absolute;
background-image: url(backround_shape.svg);
background-repeat: no-repeat;
width: 100%;
height: 80px;
}
.about:before{
background-position: 0 0;
top: -80px;
}
.about:after{
background-position: 0 100%;
bottom: -80px;
}
.about__header-wrap{
width: 350px;
padding-bottom: 50px;
margin:0 auto;
}
.about__title{
  text-align: left;
  padding: 0px;
}
.about__subtitle{
  color: #b8adc8;
  text-align: left;
}

.about__info{
  display: flex;
  font-size: 0;
  width: 940px;
  margin: 0 auto;
}
.about__img-wrap{
  flex-direction: row;
}
.about__photo{
  border-radius: 10px;
  box-shadow: -5px -5px 50px -10px #000;
}
.about__advantages{
  flex-direction: row;
}
.about__item{
  padding: 5px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 50
}
.about__advantages-wrap{
  margin-top: 10px;
}
.about__link-wrap{
  margin-left: 20px;
  margin-top: 60px;
}
.about__link{
  color: #ffec00;
}

/*BREEDS*/
.breeds{
  color:#202020;
}
.breeds__title{
  width: 350px;
  padding: 50px;
  margin:0 auto;
}
.breeds__content{
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}
.breeds__item{
  width: 50%;
  flex-direction: row;
  margin-bottom: 30px;
  
}
.breeds__item-title
.breeds__item-content{
  font-size: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.breeds__photo-wrap{
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}
.breeds__item-photo{
  border-radius: 50%;
}
.breeds__text-wrap{
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
  padding: 0 10px;
  width: 69%;
}
.breeds__item-text{
  font-size: 16px;
  color: #737374;
}
.breeds__item-link{
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase; 
  font-weight: bold;
}
/*REVIEWS*/
.reviews{
  box-sizing: border-box;
  color:#202020;
  width: 1024px;
  margin: 0 auto;
  padding-top: 150px;
}
.reviews__title{
  padding-bottom: 50px;
  text-align: center;
}
.reviews__wrap{
  box-sizing: border-box;
  font-size: 0;
  width: 940px;
  margin: 0 auto;
}
.reviews__content{
  display: inline-block;
  float: left;
  width: 50%;
}
.reviews__content-img{
  position: absolute;
  padding-left: 10px;
}
.reviews__content-title{
  padding: 70px 0 5px;
  margin: 0;

}
.reviews__content-time{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  color: #737374;
  padding: 0;
}
.reviews__content-text{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
  padding-top: 10px;
  margin: 0;
}
.reviews__img-wrap{
  display: inline-block;
  width: 50%;
  padding-top: 30px

}
.reviews__img{
  border-radius: 10px;
  box-shadow: -5px -5px 70px -15px #000;
}
.reviews__more {
  font-style: italic;
  color: #737274;
}
.reviews__link{
  color: #510fad;
}
/*PETS*/
.pets{
  width: 1024px;
  background-image: url(pets_fon.png);
  color: #b8adc8;
  margin: 0 auto;
  margin-top: 150px;
}
.pets__total-wrap{
  box-sizing: border-box;
  font-size: 0;
  width: 940px;
  margin: 0 auto;
  padding: 80px 0;
}
.pets__text-wrap{
  display: inline-block;
  float: left;
  width: 45%;

}
.pets__title{
  color: #fff;
}
.pets__text{
}
.pets-network
.pets-network__link{
  margin: 3px;
}
.icon{
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
}
.pets-network__vk{
  background-position: -10px -652px;
}
.pets-network__facebook{
  background-position: -10px -468px;
}
.pets-network__inst{
  background-position: -10px -560px;
}
.pets__post-wrap{
  display: inline-block;
  width: 55%;
  font-size: 0;
}
.pets-post{
  box-shadow: -5px -5px 70px -15px #000;
  border-radius: 10px;
  background-color: #fff;
  display: inline-block;
  width: 45%;
  margin: 10px;
  padding-bottom: 10px;

}
.pets-post__img{
  border-radius: 10px;
  width: 100%;
}
.pets-post__text{
  color: #202020;
  padding:0 10px;
  width: 180px;
  font-size: 18px;
}
.pets-post__link{
  color: #510fad;
  padding:0 10px;
  font-size: 18px;
}
/*CONTACTS*/
.contacts{
  box-sizing: border-box;
  color:#202020;
  width: 1024px;
  margin: 0 auto;
  padding-top: 100px;
}
.contacts-wrap{
  box-sizing: border-box;
  font-size: 0;
  width: 940px;
  margin: 0 auto;
}
.contacts-title{
  text-align: left;
  margin-bottom: 10px;
}
.contacts-item{
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  float: left;
  margin: 0;
}
.contacts-item__title{
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #737374;
  margin-bottom: 0;
}
.contacts-item__text{
  color:#202020;
  font-style: normal;
  margin: 0;

}
/*FOOTER*/
.footer{
  margin-top: 100px;
}
.footer__wrap{
  box-sizing: border-box;
  font-size: 0;
  width: 940px;
  margin: 0 auto;
}
.footer-menu{
  border-top: 1px solid gray;
  font-size: 0;
}
.footer-menu-list{
  border-top: 1px solid #737374;
  padding: 0;
}
.footer-menu__item{
  display: inline-block;
  padding: 20px 30px 50px 0;
}
.footer-menu__link{
  color: #737374;
}
.footer-network{
  display: inline-block;
}
.footer-network__link {
}
.footer-network__link--footer
